# User-specific stuff:
.idea/
*.iml

# IntelliJ
/out/

# OS X files
.DS_Store

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Default output file
output1.txt
output2.txt